@import "./tailwind.css";
@import "./theme.css";

@custom-variant dark (&:is(.dark *));

@theme {
  --animate-twinkle: twinkle 3s ease-in-out infinite;

  @keyframes twinkle {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
