:root {
  --background: oklch(0.9672 0 0);
  --foreground: oklch(0.209 0 0);
  --card: oklch(0.997 0 0);
  --card-foreground: oklch(0.209 0 0);
  --popover: oklch(0.997 0 0);
  --popover-foreground: oklch(0.209 0 0);
  --primary: oklch(0.4808 0.1142 301.7729);
  --primary-foreground: oklch(0.997 0 0);
  --secondary: oklch(0.8631 0.1606 87.1288);
  --secondary-foreground: oklch(0.209 0 0);
  --muted: oklch(0.9067 0 0);
  --muted-foreground: oklch(0.5555 0 0);
  --accent: oklch(0.934 0 0);
  --accent-foreground: oklch(0.209 0 0);
  --destructive: oklch(0.6879 0.2015 22.4754);
  --destructive-foreground: oklch(0.997 0 0);
  --border: oklch(0.8359 0 0);
  --input: oklch(0.997 0 0);
  --ring: oklch(0.4808 0.1142 301.7729);
  --chart-1: oklch(0.8631 0.1606 87.1288);
  --chart-2: oklch(0.4808 0.1142 301.7729);
  --chart-3: oklch(0.8637 0.0344 304.4942);
  --chart-4: oklch(0.6923 0.0813 302.9775);
  --chart-5: oklch(0.9244 0.0982 90.4638);
  --sidebar: oklch(0.997 0 0);
  --sidebar-foreground: oklch(0.209 0 0);
  --sidebar-primary: oklch(0.209 0 0);
  --sidebar-primary-foreground: oklch(0.997 0 0);
  --sidebar-accent: oklch(0.934 0 0);
  --sidebar-accent-foreground: oklch(0.209 0 0);
  --sidebar-border: oklch(0.8359 0 0);
  --sidebar-ring: oklch(0.209 0 0);
  --font-sans: "Inter", Helvetica, Arial, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: "Roboto Mono", monospace;
  --radius: 0.25rem;
  --shadow-x: 1px;
  --shadow-y: 2px;
  --shadow-blur: 6px;
  --shadow-spread: 1px;
  --shadow-opacity: 0.05;
  --shadow-color: #292929;
  --shadow-2xs: 1px 2px 6px 1px hsl(0 0% 16.0784% / 0.03);
  --shadow-xs: 1px 2px 6px 1px hsl(0 0% 16.0784% / 0.03);
  --shadow-sm: 1px 2px 6px 1px hsl(0 0% 16.0784% / 0.05), 1px 1px 2px 0px hsl(0 0% 16.0784% / 0.05);
  --shadow: 1px 2px 6px 1px hsl(0 0% 16.0784% / 0.05), 1px 1px 2px 0px hsl(0 0% 16.0784% / 0.05);
  --shadow-md: 1px 2px 6px 1px hsl(0 0% 16.0784% / 0.05), 1px 2px 4px 0px hsl(0 0% 16.0784% / 0.05);
  --shadow-lg: 1px 2px 6px 1px hsl(0 0% 16.0784% / 0.05), 1px 4px 6px 0px hsl(0 0% 16.0784% / 0.05);
  --shadow-xl:
    1px 2px 6px 1px hsl(0 0% 16.0784% / 0.05), 1px 8px 10px 0px hsl(0 0% 16.0784% / 0.05);
  --shadow-2xl: 1px 2px 6px 1px hsl(0 0% 16.0784% / 0.13);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.209 0 0);
  --foreground: oklch(0.997 0 0);
  --card: oklch(0.2809 0 0);
  --card-foreground: oklch(0.997 0 0);
  --popover: oklch(0.209 0 0);
  --popover-foreground: oklch(0.997 0 0);
  --primary: oklch(0.8631 0.1606 87.1288);
  --primary-foreground: oklch(0.209 0 0);
  --secondary: oklch(0.4808 0.1142 301.7729);
  --secondary-foreground: oklch(0.997 0 0);
  --muted: oklch(0.3677 0 0);
  --muted-foreground: oklch(0.7699 0 0);
  --accent: oklch(0.3677 0 0);
  --accent-foreground: oklch(0.9672 0 0);
  --destructive: oklch(0.6879 0.2015 22.4754);
  --destructive-foreground: oklch(0.997 0 0);
  --border: oklch(0.4276 0 0);
  --input: oklch(0.209 0 0);
  --ring: oklch(0.8631 0.1606 87.1288);
  --chart-1: oklch(0.8631 0.1606 87.1288);
  --chart-2: oklch(0.4808 0.1142 301.7729);
  --chart-3: oklch(0.8637 0.0344 304.4942);
  --chart-4: oklch(0.6923 0.0813 302.9775);
  --chart-5: oklch(0.9244 0.0982 90.4638);
  --sidebar: oklch(0.2809 0 0);
  --sidebar-foreground: oklch(0.997 0 0);
  --sidebar-primary: oklch(0.209 0 0);
  --sidebar-primary-foreground: oklch(0.997 0 0);
  --sidebar-accent: oklch(0.3677 0 0);
  --sidebar-accent-foreground: oklch(0.997 0 0);
  --sidebar-border: oklch(0.4276 0 0);
  --sidebar-ring: oklch(0.209 0 0);
  --font-sans: "Inter", Helvetica, Arial, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: "Roboto Mono", monospace;
  --radius: 0.25rem;
  --shadow-x: 1px;
  --shadow-y: 2px;
  --shadow-blur: 0px;
  --shadow-spread: 0px;
  --shadow-opacity: 0;
  --shadow-color: #fefefe;
  --shadow-2xs: 1px 2px 0px 0px hsl(0 0% 99.6078% / 0);
  --shadow-xs: 1px 2px 0px 0px hsl(0 0% 99.6078% / 0);
  --shadow-sm: 1px 2px 0px 0px hsl(0 0% 99.6078% / 0), 1px 1px 2px -1px hsl(0 0% 99.6078% / 0);
  --shadow: 1px 2px 0px 0px hsl(0 0% 99.6078% / 0), 1px 1px 2px -1px hsl(0 0% 99.6078% / 0);
  --shadow-md: 1px 2px 0px 0px hsl(0 0% 99.6078% / 0), 1px 2px 4px -1px hsl(0 0% 99.6078% / 0);
  --shadow-lg: 1px 2px 0px 0px hsl(0 0% 99.6078% / 0), 1px 4px 6px -1px hsl(0 0% 99.6078% / 0);
  --shadow-xl: 1px 2px 0px 0px hsl(0 0% 99.6078% / 0), 1px 8px 10px -1px hsl(0 0% 99.6078% / 0);
  --shadow-2xl: 1px 2px 0px 0px hsl(0 0% 99.6078% / 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}
